{% extends 'base.html'%}

{% block wrapper%}
<!-- ========== PAGE TITLE ========== -->
<div class="page-title grey">
    <div class="container">
        <div class="inner">
            <h1>ISUZU</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="dmax.html"></a>
                </li>
                <li>
                   
                </li>
            </ol>
        </div>
    </div>
</div>

<!-- ========== MAIN ========== -->
<main class="shop-page">
    <div class="container">
        <div class="shop-details">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-slider">
                        <!-- PRODUCT SLIDER -->
                        <div class="owl-carousel big-images image-gallery">
                            <!-- ITEM -->
                            {% for image in other_images%}
                            <div class="item">
                                <figure class="color-overlay-hover image-icon">
                                    <a href="">
                                        <img src="{{image.image.url}}"
                                            class="img-fluid" alt="Image">
                                    </a>
                                </figure>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="owl-carousel thumbs">
                            {% for image in other_images%}
                            <div class="item"><img
                                    src="{{image.image.url}}"
                                    class="img-fluid" alt="Image"></div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="shop-item-details">
                        <div class="product-inner">
                            <h2 class="product-title">
                                <a href="#">{{ product.name }}</a>
                            </h2>
                            <div class="product-price">
                                <span class="product-price-current">{{ product.price}}</span>
                            </div>

                            <h6 style="color:#333; font-size: 14px;">Kategori: </h6>
                                <h6 style="color:#333; font-size: 14px;">Marka:</h6>
                                <h6 style="color:#333; font-size: 14px;">Stok Kodu: {{product.stock_code}} </h6>


                            <div class="share product-share mt30">
                                <div class="social-media">
                                    <a class="facebook" href="#" data-toggle="tooltip"
                                        data-original-title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a class="twitter" href="#" data-toggle="tooltip"
                                        data-original-title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-tabs mt80">
                <ul class="nav nav-tabs" id="product-tab" role="tablist">
                    <!-- TAB -->
                    <li class="nav-item">
                        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description"
                            role="tab" aria-controls="description" aria-selected="true">Ürün Detay</a>
                    </li>
                </ul>
                <div class="tab-content" id="product-tab-content">
                    <!-- TAB -->
                    <div class="tab-pane fade show active" id="description" role="tabpanel"
                        aria-labelledby="description-tab">
                        {{product.detail}}
                    </div>

                    <!-- TAB -->
                    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                        <!-- ITEM -->
                        <div class="review mt20 mb20">
                            <div class="reviewer-avatar">
                                <img src="images/users/user1.jpg" class="img-fluid" alt="Image">
                            </div>
                            <h4 class="review-title">Review by Jane Doe</h4>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p class="review-details">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                volutpat.</p>
                        </div>
                        <!-- ITEM -->
                        <div class="review mt20 mb20">
                            <div class="reviewer-avatar">
                                <img src="images/users/user2.jpg" class="img-fluid" alt="Image">
                            </div>
                            <h4 class="review-title">Review by Ina Aldrich</h4>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <p class="review-details">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                volutpat.</p>
                        </div>
                        <!-- ITEM -->
                        <div class="review mt20 mb20">
                            <div class="reviewer-avatar">
                                <img src="images/users/user3.jpg" class="img-fluid" alt="Image">
                            </div>
                            <h4 class="review-title">Review by Jane Doe</h4>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p class="review-details">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                volutpat.</p>
                        </div>
                        <!-- ITEM -->
                        <div class="review mt20 mb20">
                            <div class="reviewer-avatar">
                                <img src="images/users/user4.jpg" class="img-fluid" alt="Image">
                            </div>
                            <h4 class="review-title">Review by Penny Widget</h4>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p class="review-details">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                volutpat.</p>
                        </div>
                        <h4 class="mt80">Write a Review</h4>
                        <form class="mt30">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="name" placeholder="Your Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="name"
                                        placeholder="Your Email">
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" name="message"
                                        placeholder="Your Review..."></textarea>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="user-rating">
                                        <span>Your Rating:</span>
                                        <label>
                                            <input type="radio" name="rating" value="5" title="5 stars">
                                            5
                                        </label>
                                        <label>
                                            <input type="radio" name="rating" value="4" title="4 stars">
                                            4
                                        </label>
                                        <label>
                                            <input type="radio" name="rating" value="3" title="3 stars">
                                            3
                                        </label>
                                        <label>
                                            <input type="radio" name="rating" value="2" title="2 stars">
                                            2
                                        </label>
                                        <label>
                                            <input type="radio" name="rating" value="1" title="1 star">
                                            1
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <button class="btn pull-right mt20 mb20">Post Your Review</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- RELATED PRODUCTS -->
                <div class="section-title sm mt50">
                    <h4>Benzer Ürünler</h4>
                </div>
                <div class="row">
                    <!-- ITEM -->
                    <div class="col-md-3">
                        <div class="shop-item">
                            <figure class="color-overlay-hover">
                                <a href="#">
                                    <img src="../../images/kategoriler/isuzu/d-max-airbag-tavan-2020-sol.jpg"
                                        class="img-fluid" alt="Image">
                                </a>
                                <button class="btn btn-sm add-to-cart">Ürünü İncele</button>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-title">
                                    <a href="#">Yerli</a>
                                </h4>
                                <div class="product-price">D-max Hava Yastığı Tavan Airbag Sol 2020</div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="col-md-3">
                        <div class="shop-item">
                            <figure class="color-overlay-hover">
                                <a href="#">
                                    <img src="../../images/kategoriler/isuzu/d-max-airbag-tavan-2020-sol.jpg"
                                        class="img-fluid" alt="Image">
                                </a>
                                <button class="btn btn-sm add-to-cart">Ürünü İncele</button>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-title">
                                    <a href="#">Yerli</a>
                                </h4>
                                <div class="product-price">D-max Hava Yastığı Tavan Airbag Sol 2020</div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="col-md-3">
                        <div class="shop-item">
                            <figure class="color-overlay-hover">
                                <a href="#">
                                    <img src="../../images/kategoriler/isuzu/d-max-airbag-tavan-2020-sol.jpg"
                                        class="img-fluid" alt="Image">
                                </a>
                                <button class="btn btn-sm add-to-cart">Ürünü İncele</button>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-title">
                                    <a href="#">Yerli</a>
                                </h4>
                                <div class="product-price">D-max Hava Yastığı Tavan Airbag Sol 2020</div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="col-md-3">
                        <div class="shop-item">
                            <figure class="color-overlay-hover">
                                <a href="#">
                                    <img src="../../images/kategoriler/isuzu/d-max-airbag-tavan-2020-sol.jpg"
                                        class="img-fluid" alt="Image">
                                </a>
                                <button class="btn btn-sm add-to-cart">Ürünü İncele</button>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-title">
                                    <a href="#">Yerli</a>
                                </h4>
                                <div class="product-price">D-max Hava Yastığı Tavan Airbag Sol 2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}